# Sample nginx server configuration file for certupdate
# This file locates WorkBench machine.
server {
    listen      10.1.255.201:80;
    server_name _;
    access_log  /var/log/nginx/acme-challenge.80.acc Extend;
    error_log   /var/log/nginx/acme-challenge.80.err error;

    rewrite     /.well-known/acme-challenge/(.*) /$1 last;

    location / {
        root    /var/tmp/certupdate/htdocs;
        index   index.html;
    }
}
